<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<br>
<br>
<br>
<form action="{% url 'thanks_page' %}" method="POST">
    {% csrf_token %}
    <label>Ім'я</label>
    <input name="name">
    <label>Телефон</label>
    <input name="phone">
    <label>Адреса</label>
    <input name="address">
    <button type="submit">ВІДПРАВИТИ</button>
    <button type="reset">ОЧИСТИТИ</button>

</form>

<br>
<br>
<br>

{% if object_list %}
<table border="1">
    <tr>
        <th>Id</th>
        <th>Дата</th>
        <th>Ім'я</th>
        <th>Телефон</th>
        <th>Адреса</th>
    </tr>
{% for obj in object_list %}
    <tr>
        <th>{{ obj.id }}</th>
        <th>{{ obj.order_dt }}</th>
        <th>{{ obj.order_name }}</th>
        <th>{{ obj.order_phone }}</th>
        <th>{{ obj.order_address }}</th>
    </tr>
{% endfor %}
</table>
{% else %}
<h2>Даних немає</h2>
{% endif %}

</body>
</html>