<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Замовлення сервісу</title>
</head>
<body>

<br>
<br>
<br>

<h1>Замовлення сервісу</h1>

<br>
<br>
<br>

<form action="{% url 'customer_data' %}" method="POST">
    {% csrf_token %}
    <input type="hidden" name="executor" value="виконавець_1">
    <button type="submit">виконавець_1</button>

    <input type="hidden" name="executor" value="виконавець_2">
    <button type="submit">виконавець_2</button>

    <input type="hidden" name="executor" value="виконавець_3">
    <button type="submit">виконавець_3</button>
    <br>
    <br>
    <br>

</form>


</body>
</html>
