<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<br>
<br>
<br>

<h1>Замовлення клінінг сервісу</h1>

<br>
<br>
<br>

<form action="{% url 'thanks_page' %}" method="POST">
    {% csrf_token %}
    <label>Ім'я</label>
    <input name="name">
    <label>Телефон</label>
    <input name="phone">
    <label>Адреса</label>
    <input name="address">
    <br>
    <br>
    <br>
<!--    <input type = "hidden" name="address" value="name_qwer">-->
    <button type="submit">ВІДПРАВИТИ</button>
    <button type="reset">ОЧИСТИТИ</button>

</form>

<br>
<br>
<br>



</body>
</html>